body { background-color: rgb(55, 83, 136);
}   
p
 {
    color: rgb(255, 255, 255); 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('chemin/vers/votre/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Define a CSS class for button-like links */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007acc; /* Button background color */
    color: #ffffff; /* Button text color */
    text-decoration: none; /* Remove the default underline */
    font-weight: bold;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
}

